<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div style="max-width:28rem;margin:80px auto;text-align:left">
    <h2 style="margin-bottom:50px">Welcome, {{ username }}!</h2>

    <a href="{{ url_for('difficulty') }}">
      <input type="button"
             class="actionbutton"
             value="Play Word Game"
             style="padding:12px 0;width:100%">
    </a>

    <div style="height:30px"></div>

    <a href="{{ url_for('logout') }}">
      <input type="button"
             class="actionbutton"
             value="Logout"
             style="padding:12px 0;width:100%">
    </a>
  </div>
</body>
</html>
